<html>
    <head>
        <title>EJS view</title>
        <link href="assets/styles.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <h1>index ejs:</h1>
        <h3>hello world from ejs</h3>
    </body>
</html>
