<html>
    <head>
        <title>EJS dynamic</title>
        <link href="/assets/styles.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <h1>index ejs:</h1>
        <h2>Person: <%= ID %></h2>
        <h2>numbers literals: <%= ID.length %></h2>
        <h3>Querystring Value:<%= Qstr %> </h3>
    </body>
</html>
